<% include ./partials/header %>

<div class="container" style="text-align:center">
    <form action="/login" method="POST">
        <h3>Log in to your account</h3>
        <input id="login-register" type="text" name="username" placeholder="Enter username">
        <br>
        <input id="login-register" type="password" name="password" placeholder="Enter password">
        <br>
        <input class="btn btn-success btn-submit" type="submit" value="Login!">
    </form>
</div>

<% include ./partials/footer %>