<% include ./partials/header %>

<div class="container" style="text-align:center">
    <form action="/register" method="POST">
        <h3>Sign up</h3>
        <input id="login-register" pattern=".{5,10}" title="5-10 characters" type="text" name="username" placeholder="Choose username" require>
        <br>
        <input id="login-register" pattern=".{8,}" title="8 characters minimum" type="password" name="password" placeholder="Choose password" require>
        <br>
        <button class="btn btn-success btn-submit">Create account</button>
    </form>
</div>

<% include ./partials/footer %>