<% include ../partials/header %>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <span id="typed"></span>
            <p>View our hand-picked CampGrounds from all over the World.</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new CampGround</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<script>
  var typed = new Typed('#typed', {
    strings: ['Welcome to online Campgrounds database', 'Welcome to YelpCamp'],
    typeSpeed: 30,
    backSpeed: 10,
    smartBackspace: true,
    loop: false,
    showCursor: false
  });
</script>

<% include ../partials/footer %>