<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <h4><a href="/campgrounds/<%= campground._id %>/edit" title="Edit campground"><%= campground.name %></a></h4>
                    <% } else { %>
                        <h4><a><%= campground.name %></a></h4>
                    <% } %>
                    <p><%= campground.description %></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-link pull-right" title="Remove campground"><i class="fa fa-trash"></i></button>
                            <br>
                        </form>
                    <% } else { %>
                        <p id="author">Submitted by <em><%= campground.author.username %></em></p>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="coll-md-12">
                            <strong> <%= comment.author.username %> </strong>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-link pull-right" title="Remove comment"><i class="fa fa-trash"></i></button>
                                </form>
                                <a class="btn btn-xs btn-link pull-right" title="Edit comment" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"><i class="fas fa-edit"></i></a>
                            <% } %>
                            <p><%= comment.text %> </p>
                            <hr>
                        </div>
                    </div>
                <% }) %>
                <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                    <input class="form-control" type="text" name="comment[text]" placeholder="Add new comment">
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<% include ../partials/footer %>