#typed {
    font-size: 28px;
    font-weight: bold;
}

#remove {
    display: block;
    float: right;
    margin-bottom: 50px;
}

.row {
    padding-left: 9px;
    padding-right: 9px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#inline {
    display: inline;
}

#author {
    color: gray;
}

textarea { 
    resize: none;
}

#login-register {
    width: 240px;
    padding: 10px 10px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #ccc;
}

.btn-submit {
    width: 240px;
    margin: 10px 0;
    height: 40px;
}